<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    @RenderSection("Css", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top fixed-menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="Home/Index" class="navbar-brand">
                    <img class="img-brand" src="~/Images/xegiadinhviet.png" />
                </a>
                @*@Html.ActionLink("Xe Gia Đình Việt", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="../Home/">Trang chủ<span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Salon Ôtô</a></li>
                    <li><a href="#">Tin tức Ôtô</a></li>
                    <li><a href="#">Đăng tin miễn phí</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="row header-container">
            @*<div class="col-xs-12">
                    <img src="~/Images/logo_text.jpg" class="img-responsive" />
                </div>*@
            <div class="col-xs-12" style="float:left;">
                <ul class="nav menu-custom">
                    <li><a href="#">Tìm xe</a></li>
                    <li><a href="#">Bán xe</a></li>
                    <li><a href="#">Salon</a></li>
                    <li><a href="#">Tin Ôtô</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Xe Gia Đình Việt</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>