@using CarMobile.Model.Entity
@model List<CarModel>

@foreach (var item in Model)
{
    <div class="col-xs-12 car-item pull-left">
        <div class="left-container pull-left">
            @{ 
                var urlImage = "../Images/Cars_" + item.UserId + "_" + item.CarId + "/1.jpg";
            }
            <img class="img-responsive" @*src="~/Images/Cars_2046_1163/1.jpg"*@ data-original="@urlImage" />
        </div>
        <div class="right-container pull-left">
            <span class="car-type">@(item.IsNew ? "Xe mới " : "Xe đã sử dụng ") (@item.Year)</span> <br />
            <span class="car-brand">@item.Title</span> <br />
            <span class="label label-success">@item.CurrencyVN Triệu</span>
            <span class="label label-default">@item.Province</span>
        </div>
    </div>
}